/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";





//toast styles
.toast-bg {
    color: #f6f6f6; /* Text color */
    width: 55%; /* Adjust the width as needed */
    position: fixed; /* Position the toast */
    top: -5%; /* Align the toast to the bottom */
    left: 50%; /* Align the toast to the center horizontally */
    transform: translateX(-50%); /* Center the toast horizontally */
    animation: slideUp 0.5s ease forwards;
 
  @keyframes slideUp {
    from {
      transform: translateY(100%) translateX(-50%); /* Start position below the screen */
    }
    to {
      transform: translateY(0) translateX(-50%); /* End position at the desired distance from the bottom */
    }
  }
}
  
  