<ion-header>
  <ion-toolbar>
  <ion-title>
  Fetch Current Location
  </ion-title>
  <!-- <ion-button slot="end" (click)="camera()">camera</ion-button> -->
  <ion-button slot="end"  (click)="document()">Document</ion-button>
  </ion-toolbar>
  </ion-header>  
  
  <ion-content>
    <ion-button (click)="checkLocationPermission()">Get Current Location</ion-button>
    <ion-label> {{ latitude }} </ion-label>
    <ion-label> {{ longitude }} </ion-label>
    
    <br>
    <br>
    <!-- <div *ngIf="status">
  
         you  are  {{status ? 'online' : 'offline'}} 
    
        <ion-text *ngIf="status" color="success">online</ion-text>
  
       <ion-text *ngIf="!status" color="danger">offline</ion-text>  
   </div> -->
  
  
   
  
   
  
  
  <!-- <ion-button (click)="onClick()">next</ion-button> -->
  </ion-content>